.hero-banner
{
    background-color: var(--ghostwhite) ;
    padding: 66px 0px 120px;
}
.hero
{
    display: flex;
    flex-wrap: wrap;
}
.hero-cont
{
    flex-basis: 57.3%;
}
.hero-cont-card
{
    max-width: 536px;
    padding: 10px 0px 20px;
}
.hero-contxt p
{
    margin-bottom: 2.8%;
    color: var(--midnightblue);
}
.hero-cont .hero-heading
{
    margin-bottom: 2.373%
}
.hero-heading h1
{
    color: var(--midnightblue);
}
.hero-image
{
    flex-basis: 40.17%;
    margin-left: 2.47%;
}
.hero-button a.hero-button-child
{
    font-size: 13px;
    line-height: 17px;
    padding: 16px 32px;
    color: var(--midnightblue);
    font-weight: 700;
    border: 2px solid var(--midnightblue);
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: .3s all ease-in-out;
    background: transparent;
    outline: 0;
}
span.hero-button-txt
{
    display: block;
    position: relative;
    transform: translate(10px, -10px);
    transition: -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out;
    transition: transform 150ms ease-out,-webkit-transform 150ms ease-out;
}
span.button-hover
{
    position: absolute;
    display: block;
    border: 2px solid var(--midnightblue);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 1px;
    transform: translate(5px, -10px);
    background-color: var(--sunglow);
    box-shadow: 0 0 0 1px var(--sunglow);
    z-index: -1;
    transition: transform 150ms ease-out;
    margin-left: 4px;
}
a.hero-button-child:hover {
    background-color: var(--sunglow);
    transition: .3s all ease-in-out;
}
a.hero-button-child:hover span.hero-button-txt
{
    transform: translate(0px,-4px);
} 
a.hero-button-child:hover span.button-hover
{
    transform: translate(-2px,-4px);
    transition: transform 150ms ease-out;
}
.pop-up-img
{
    background-image: url(./growflowimg/handwave.jpg);
    box-shadow: 0 1.8px 1.2px rgb(0 0 0 / 3%), 0 5.7px 4.3px rgb(0 0 0 / 5%), 0 10.5px 8px rgb(0 0 0 / 6%), 0 18.3px 13.9px rgb(0 0 0 / 7%);
    min-height: 233.13px;
    background-size: cover;
}

.hero-link
{
    position: relative;
    z-index: 1;
}
.pop-up-icon 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: var(--midnightblue);
    width: 100%;
    max-width: 60px;
    min-height: 40px;
}
.pop-up-icon i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white);
    cursor: pointer;
}
.counter-model
{
    padding-top: 110px;
    padding-bottom: 114px;
}
.counter-multi-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 50px 0px;
}
.multi-card 
{
    flex-basis: 31.7%;
    padding-top: 20px;
    text-align: center;
}
.mobile-view::after
{
    content: '\f0d7';
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
}
.multi-card:not(:last-child){
    border-right: 1px solid var(--lightgrey);
    margin-right: 2.447%;
}
.multi-card-cont
{
    max-width: 190px;
    margin: 0 auto;
    color: var(--midnightblue);
    font-weight: 500;
}
.multi-card-cont p
{
    font-size: 15px;
    line-height: 27px;

}
.m-card-head h2
{
    color: var(--lavenderblue);
}
.m-card-head
{
    margin-bottom: 15px;
}
.counter-heading 
{
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
}
.counter-btn a
{
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
}
.counter-btn 
{
    text-align: center;
}
.buisness-background
{
    position: relative;
    z-index: 1;
    padding: 105px 0 95px;
}
.buisness-background::before
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75%;
    z-index: -1;
    background-color: var(--ghostwhite);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buisness-heading
{
    max-width: 485px;
    line-height: 54px;
    margin-bottom: 13px;
}
.buisness-heading h2
{
 font-size: 44px;
}
.buisness-cont
{
    max-width: 592px;
    margin-bottom: 40px;
    color: var(--midnightblue);
}
.tabber-background
{
    background-image: url(./image/Home-Tabber-Line.webp);
    min-height: 270px;
    margin-bottom: 41px;
}
.tabber
{
    padding-top: 102px;
    padding-bottom: 50px;
}
.tabber-toggle
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tabber-left 
{
    flex-basis: 40%;
    margin-right: 2%;
}
.tabber-left-heading
{
    letter-spacing: 1.14px;
    border-bottom: 3px solid var(--sunglow);
    display: inline-block;
    margin-left: 85px;
    margin-bottom: 15px;
}
.tabber-list 
{
    padding-top: 23px;
}
.tabs li.tab-link
{
    margin-bottom: 20px;
    transition: .3s all;
}
.tabs li.tab-link:hover
{
    color: var(--lavenderblue);
}
.tabs li.tab-link.current 
{
    padding-bottom: 38px;
    margin-bottom: 37px;
    color: var(--lavenderblue);
}
.tabs li
{
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding-left: 85px;
}
.tabs li.tab-link.current::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    z-index: -1;
    width: 15px;
    height: 49px;
    background-color: var(--lavenderblue);
}
.tabs li.tab-link.current::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 85px;
    height: 2px;
    background: #ccc;
    width: 90%;
    opacity: .5;
}
.tabber-right
{
    flex-basis: 58%;
    padding-top: 18px;
}
.tabber-right .tabber-content .tabber-image
{
    margin-bottom: 40px;
}
.tabber-right .tabber-content .tabber-image img
{
    max-width: 550px;
    display: block;
    box-shadow: 0px 5.6px 26px 3.7px #00000030;
}

.tabber-content
{
    display: none;
}
.tabber-context
{
    color: var(--midnightblue);
    padding: 25px 0 16px;
}
.tabber-context p
{
    margin-bottom: 15px;
}
.tabber-content.current
{
    display: block;
    margin: auto 45px;
}

.tabber-btn a
{
    color: var(--midnightblue);
    transition: .3s all;
}
.tabber-btn a span i 
{
    font-size: 15px;
    margin-left: 5px;
    color: var(--sunglow);
}
.tabber-btn a:hover
{
    color: var(--sunglow);
}
.tabber .mobile-view
{
    display: none;
    border: 2px solid #695ff7;
    padding: 5px 20px 5px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.background-image
{
    padding: 75px 0px 62px;
}
.background-image .gradient-colour::before
{
    content: '';
    position: absolute;
    bottom: -90px;
    right: 90px;
    background-image: url(https://4705179.fs1.hubspotusercontent-na1.net/hubfs/4705179/growflow_website_2020/home_page/Happy%20Golden.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 161px;
    height: 186px;
}
.background-image .gradient-colour
{
    border-radius: 10px;
    padding: 110px 0px 110px;
    position: relative;
    z-index: 1;
}
.content1
{
    background: transparent linear-gradient(8deg,#030047 0%,#695ff7 100%) 0% 0%;
    border-radius: 10px;
}
.heading-content
{
    text-align: center;
    color: #fff;
}
.descripition
{
    max-width: 780px;
    margin: 0 auto;
    width: 100%;
    padding: 25px 0px 40px;
    text-align: center;
    color: #fff;
}
.yellowbtn1 a
{
    color: #fff;
}
.bottom-text
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.left-side
{
    margin-right: 43px;
}
.left-side h2
{
    font-size: 65px;
    color: #ffcc3e;
    letter-spacing: -1.3px;
}
.left-side p
{
    font-weight: 300;
    color: #fff;
    padding-top: 18px
}
.right-side li span
{
    letter-spacing: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    margin-left: 30px;
    position: relative;
    top: -7px;
}
.right-side ul li
{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.72px;
    line-height: 44px;
    padding: 8px 0px 8px 30px;
    color: #fff;
}
.head1
{
    margin-top: 51px;
}
ul
{
    border-left: 1px solid rgb(255 255 255 / .5)
}
.right-side ul li:not(:last-child) {
    border-bottom: 1px solid rgb(255 255 255 / .5)
}
.right-side ul li a
{
    color: #fff;
}
.slider
{
    padding: 97px 0px 50px;
}
.content-data
{
    padding-left: 100px;
}
.content-data .image img
{
    width: 60px;
    position: relative;
    top: -7px;
}
.content-base
{
    margin-left: 37px;
}
.data-text
{
    max-width: 664px;
    padding-bottom: 23px;
}
.content-base p
{
    color: #030047;
}
.content-base h6
{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.44px;
    line-height: 17px;
}
.slick-list button
{
    display: inline-block;
}
.slick-slider button
{
    display: inline-block;
}
.hero-image-two
{
    padding: 170px 0px 60px;
    margin-bottom: 75px;
}
.main
{
    display: flex;
}
.hero-image-heading
{
    max-width: 467px;
}
.hero-image-heading h3
{
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -0.72px;
}
.descripition-two p
{
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #030047;
}
.descripition-two
{
    max-width: 468px;
    padding: 24px 0px 26px;
    display: inline-block;
}
.head1 .yellowbtn1
{
    margin-left: 0%;
    transition: 0.3s all;
    cursor: pointer;
}
.head1 .yellowbtn1 a
{
    color: black;
    font-weight: bold;
    transition: 0.3s all;
    cursor: pointer;
}
.head2
{
    flex-basis: 50%;
    margin-left: 7%;
}
.bg-image5
{
    background-image: url(./image/Integrations-Hero.webp);
    background-size: contain!important;
    background-repeat: no-repeat;
    max-width: 467px;
    min-height: 429px;
}
.banner-image-two
{
    padding: 100px 0px -125px;
}
.gradient-colour1
{
    background: transparent linear-gradient(8deg,#030047 0%,#695ff7 100%) 0% 0%;
    border-radius: 10px;
    padding-top: 137px;
    padding-bottom: 104px;
    position: relative;
    overflow: hidden;
    bottom: -125px;
}
.content2
{
    text-align: center;
}
.icon
{
    position: absolute;
    left: -80px;
    top: -70px;
}
.icon img
{
    max-width: 100%;
    border: 0;
}
.heading-content1 h2
{
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: -0.9px;
    color: #fff;
}
.content2 .descripition-three p
{
    color: #fff;
    font-weight: lighter;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    font-family: 'Inter',sans-serif;
}
.content2 .descripition-three
{
    padding: 27px 0px 47px;
    max-width: 790px;
    margin: 0 auto;
    width: 100%;
}
.yellowbtn2
{
    border: 2px solid var(--sunglow);
    background-color:var(--sunglow) ;
    padding: 16px 32px;
    transition: .3s all;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
    letter-spacing: 1.13px;
}
.yellowbtn2:hover
{
    background-color: transparent;
    color: #fff;
}
.fotter-section
{
    background-color: #030047;
    padding: 245px 0px 165px;
}
.fotter
{
    display: flex;
}
.left-fotter
{
    display: flex;
}
.left
{
    display: block;
}
.left a
{
    padding-right: 30px;
}
.left a:hover
{
    color: #ffcc3e;
    transition: 0.3s all;
}
.right-fotter
{
    display: flex;
    width: 100%;
    margin-right: -1%;
}
.right-fotter .right
{
    background-image: url(./image/GrowFlow-Dama-Logo-Reversed.svg);
    max-width: 100%;
    width: 347px;
    background-repeat: no-repeat;
    min-height: auto;
}
.right1
{
    margin-bottom: 80px;
}
.right1 i .facebook::before
{
    content: "\f39e";
}
.right1 i .facebook
{
    font-size: 28px;
}
.right1 ul
{
    list-style-type: none;
    margin: 0px;
    text-align: right;
}
@media (max-width:1024px)
{
    .hero-cont .hero-heading h1
    {
        font-size: 33px;
        line-height: 52px;
    }
    .hero-contxt p
    {
        font-size: 18px;
        line-height: 25px;
        padding-top:7px;
        padding-bottom: 30px;
    }
    .hero-image {

        padding: 45px 0;
}
}
@media (max-width:767px)
{
    .hero
    {
        display: block
    }
    .hero-button a.hero-button-child 
    {
        padding: 18px 52px;
    }
    .hero-cont .hero-heading h1
    {
        line-height: 46px;
    }
    .hero-cont
    {
        max-width: 681px;
    }
    .pop-up-img {
        background-image: url(./growflowimg/handwave.jpg);
        min-height: 350px;
        max-width: 100%;
    }
    .hero-image
    {
        margin-left: 0;
    }
}
@media(max-width:480px)
{
    .hero-contxt p 
    {
        font-size: 16px;
    }
    .hero-cont .hero-heading h1 
    {
        line-height: 44px;
        font-size:40px
    }
    .pop-up-img 
    {
        min-height: 233px;
    }
}
@media (max-width:1024px)
{
    .counter-heading h4
    {
        font-size: 24px;
        line-height: 30px;
    }
    .m-card-head h2
    {
        font-size: 36px;
    }
}
@media (max-width:767px)
{
    .counter-model
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .tabber
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .counter-multi-card
    {
        display: block;
    }
    .multi-card:not(:last-child)
    {
        border-right: none;
        margin: 0 auto;
        border-bottom: 1px solid var(--lightgrey);
        max-width: 400px;
    }
    .multi-card 
    {
        padding-bottom: 40px;
        padding-top: 40px;
}
@media (max-width:480px)
{
    .counter-heading h4
    {
        font-size: 20px;
    }
}
@media (max-width:1024px)
{
.buisness-background::before
{
    width: 85%;
}
.buisness-heading h2
{
 font-size: 32px;
 line-height: 44px;
}
.buisness-cont p
{
    font-size: 18px;
    line-height: 25px;
}
.buisness-heading 
{
    margin-bottom: 13px;
}
.buisness-cont
{
    margin-bottom: 48px;
}
}
@media (max-width:767px)
{
    .buisness-background::before
    {
        width: 100%;
    }
    .buisness-background {
        padding: 50px 0 80px;
    }
    .buisness-cont {
        margin-bottom: 37px;
    }
    .buisness-cont p {
        font-size: 16px;
        line-height: 28px;
    }
    .buisness-heading {
        margin-bottom: 12px;
    }
    .buisness-heading h2 {
        font-size: 30px;
        line-height: 44px;
    }
    .background-image .gradient-colour
    {
        padding: 50px 0px 50px;
    }
    .content1
    {
        border-radius: 10px;
        padding-bottom: 50px;
    }
    .tabber-list 
    {
        position: relative;
    }
    .tabber-toggle
    {
        display: block;
    }
    .tabber .tabs{
        display: none;
    }
    .tabber .mobile-view
    {
      display: block ;
    }
    .tabs
    {
        display: none;
        border: 2px solid var(--lavenderblue);
        position: absolute;
        left: 0px;
        right: 0px;
        background-color: #fffffffb;
        z-index: 1;
        padding: 10px;
    }
    .tabs li.tab-link.current::before
    {
        content: none;
    }
    .tabs li.tab-link.current::after
    {
        content: none;
    }
    .tabs li.tab-link.current
    {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .tabs li.tab-link   
    {
        font-size: 16px;
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
    }
    .tabber-right .tabber-content .tabber-image img {
        max-width: 100%;
    }
    .tabber-left
    {
        margin-right: 0;
    }
    .background-image
    {
        padding: 10px 0px 22px;
    }
    .descripition
    {
        padding: 0px 20px;
    }
    .heading-content h3
    {
        font-size: 40px;
        padding: 0px 10px;
        line-height: 1.2;
    }
    .descripition p
    {
        font-size: 16px;
        margin-top: 30px;
    }
    .bottom-text
    {
        display: block;
        text-align: center;
    }
    .left-side
    {
        margin-right: 0%;
    }
    .background-image .gradient-colour::before
    {
        bottom: -90px;
    right: 18px;
    width: 125px;
    height: 125px;
    }
    .left-side h2
    {
        font-size: 50px;
    }
    .right-side ul li
    {
        margin-top: 20px;
        padding: 8px 0px 8px 0px;
    }
    .content-data
    {
        padding-left: 0;
    }
    .content-data .image img
    {
        width: 20px;
    }
    .slider
    {
        padding-top: 40px;
    }
    .hero-image-two
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main
    {
        display: block;
    }
    .hero-image-heading h3
    {
        font-size: 24px;
        line-height: 30px;
    }
    .descripition-two
    {
        padding-bottom: 0;
    }
    .head2
    {
        margin-left: 0%;
        margin-top: 30%;
    }
    .icon
    {
        width: 240px;
    }
    .heading-content1 h2
    {
        padding: 0px 20px;
        font-size: 38px;
        line-height: 48px;
    }
    .gradient-colour1
    {
        padding-top: 70px;
    }
    .descripition-three p
    {
        padding: 0px 20px;
    }
    .bg-image5
    {
        min-height: 305px;
    }
}
@media (max-width:480px)
{
    .buisness-background {
        padding: 50px 0 70px;
    }
}
@media (max-width:1143px)
{
    .tabber-left-heading {
        margin-left: 34px;
        margin-bottom: 5px;
    }
    .tabber-list {
        padding-top: 25px;
    }
    .tabber-left {
        flex-basis: 28%;
        margin-right: 2.75%;
    }
    .tabs li.tab-link.current {
        padding-bottom: 18px;
    }
    .tabs li.tab-link {
        margin-bottom: 15px;
    }
    .tabs li {
        padding-left: 44px;
        font-size: 18px;
        font-weight: 600;
    }
    .tabber-right {
        flex-basis: 36%;
        padding-top: 18px;
    }
    .tabber-right .tabber-content .tabber-image img {
        max-width: 100%;
    }
    .tabber-content.current {
        display: block;
        margin: auto 35px;
    }
}
@media (max-width:480px)
{
    .tabber-content.current
    {
        margin: 0;
    }
}
}
